.model { 
    @include flex(column,center,center);
    display: none;
    position: fixed; 
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    box-sizing: border-box;
} 
.about_model{
    display: flex;
    pointer-events: none;
}
.exit{
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width:20px;
    transition: all .5s ease;
    &:hover,&:focus{
        transform: rotate(30deg);
    }
}
.about_container,.work_container{
    @include flex(column,flex-start,center);
    position: relative;
    background: #ebebebec;
    color: rgb(18, 18, 18);
    width: clamp(500px, 90vw, 1200px);
    padding: 30px;
    margin: 50px auto;
    max-height: 100vh; 
    overflow: auto;
    box-sizing: border-box;
    box-shadow: $boxShadow;
    transform: translateY(10%) translateX(0%);
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $body_bg;
        border: 1px solid #ccc;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(to left, #fff, #e4e4e4);
        border: 1px solid #aaa;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
    &::-webkit-scrollbar-thumb:active {
        background: linear-gradient(to left, #22ADD4, #1E98BA);
    }
    }
    .about_model.animate .about_container{
        transform: translateY(0) translateX(0) rotateX(0deg);
        opacity: 1;
    }
    .about_model .about_container *{
        opacity: 0;
        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); 
    }
    .about_model.animate .about_container *{
        opacity: 1;
        transition-delay: .5s;
    }
    .about_box{
    margin: 50px 20px;
    color: $word;
    h1{
        margin: 20px 0;
        font-size: 10vw;
        text-align: center;
        transition: all .5s ease, color .5s ease; 
        &:hover,&:focus{
            text-shadow: $hover; 
        }
    }
    h4{
        font-family: $font-family-primary;
        font-size: 2em;
        margin: 15px 0;
        letter-spacing: 5px;
    }
    .myword{
        align-items: flex-start;
        font-size: 1em;
        letter-spacing: 1.3px;
    }

}
.work_container{
    transform: unset;
    opacity: 1;
}
.work_box{
    margin: 5vw 0;
    padding: 20px;
    .work_topper_pic{
        width: 100%;
        height: 500px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

}
.work_context{
    @include flex("",center,flex-start);
    margin-top: 5vw;
    width: 100%;
    color: $word;
    .work_text{
        width: 100%;
        h1{
            font-size: 10rem;
        }
        button{
            margin: 40px 0 20px 0;
            @include btn();
        }
    }
    .work_article{
        font-family: "IBM Plex Sans", sans-serif;
        letter-spacing: 3%;
        line-height: 1.3;
        font-size: $text;
        max-width: 400px;
        width: 100%;
        p{
            margin: 20px 0;
            a{
                display: inline-block;
                border-radius: 20px;
                border: 1px solid $word;
                padding: 5px 15px;
                margin: 5px;
                transition: all .7s ease-in-out;
                &:active,&:hover{
                    background-color: $word_hover;
                    color: $body_bg;
                }
            }
        }
        h3{
            margin-top: 5vh;
            font-weight: bold;
        }
    }
    .work_library{
        height: 100%;
        .library_box{
            margin: 20px 0;
            width: 400px;
            height: 300px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .work_detail{
        font-family: "IBM Plex Sans", sans-serif;
        color: $nav_time;
        font-size: 16px;
        float: right;
    }

}
.grid-container {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(15, 1fr);
    gap: 1px; 
    width: 100%;
    height: auto;
    border-top: 1px solid $word;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bolder;
}

.grid-container > div {
    @include flex("",center,center);
    border-right: 1px solid $word; 
    border-bottom: 1px solid $word; 
    font-size: 1.1em;
    padding: 20px;
    line-height: 1.5em;
    transition: all .5s ease, color .5s ease; 
    &:hover,&:focus{
        text-shadow:$hover; 
    }
}
 /* 第一行 */
.grid-container > div:nth-child(1),.grid-container > div:nth-child(2),.grid-container > div:nth-child(3){
    font-size: 1.3em;
    font-weight: 500;
    text-wrap: nowrap;
}
.grid-container > div:nth-child(1) {
    @include flex("",space-evenly,center);
    grid-column: span 6;
}
.grid-container > div:nth-child(2) {
    grid-column: span 3;
}
.grid-container > div:nth-child(3) {
    @include flex("",space-evenly,center);
    grid-column: span 6;
}
/* 第二行 */
.grid-container > div:nth-child(4) {
    grid-column: span 6;
    img{
        width: 100%;
    }
}
.grid-container > div:nth-child(5) {
    grid-column: span 9;
    @include flex(column,center,flex-start);
    p{
        margin: 20px 0;
    }
}
/* 第三行 */
.grid-container > div:nth-child(6),.grid-container > div:nth-child(7),.grid-container > div:nth-child(8){
    @include flex(column,flex-start,flex-start);
    h3{
        font-weight: bold;
        margin-bottom: 15px;
    }
    p{
        font-weight: lighter;
        line-height: 1.3em;
    }
}
.grid-container > div:nth-child(6) {
    grid-column: span 6;
}
.grid-container > div:nth-child(7) {
    grid-column: span 3;
}
.grid-container > div:nth-child(8) {
    grid-column: span 6;
}
/* 第四行 */
.grid-container > div:nth-child(9) {
    grid-column: span 15;
}
/* 第五行 */
.grid-container > div:nth-child(10) {
    grid-column: span 5;
}
.grid-container > div:nth-child(11) {
    grid-column: span 5;
}
.grid-container > div:nth-child(12) {
    grid-column: span 5;
}
.grid-container > div:nth-child(3),.grid-container > div:nth-child(5),.grid-container > div:nth-child(8),.grid-container > div:nth-child(9),.grid-container > div:nth-child(12) {
    border-right: none;
}

@media (max-width:$desktop) {
    .grid-container > div:nth-child(4) {
        grid-column: span 15;
        border-right: none;
    }
    .grid-container > div:nth-child(5) {
        grid-column: span 15;
    }
    .grid-container > div:nth-child(6) {
        grid-column: span 10;
    }
    .grid-container > div:nth-child(7) {
        grid-column: span 5;
        border-right: none;
    }
    .grid-container > div:nth-child(8) {
        grid-column: span 15;
    }
    .about_box h4 {
        font-size: 3em;
    }
    .work_context {
        flex-direction: column;
    }
    .work_text_title{
        @include flex("",flex-start,center);
    }
    .work_context .work_text h1 {
        font-size: 8rem;
        margin-right: 30px;
    }
    .work_context .work_article{
        max-width: none;
    }
    .work_context .work_library .library_box{
        width: 100%;
    }
}
@media (max-width: $medio) {
    .grid-container > div:nth-child(1),.grid-container > div:nth-child(2),.grid-container > div:nth-child(3){
        font-size: 1em;
        grid-column: span 15;
    }
    .grid-container > div:nth-child(4){
        padding: 20px 0;
    }
    .grid-container > div:nth-child(10),.grid-container > div:nth-child(11),.grid-container > div:nth-child(12){
        grid-column: span 15;
    }
    .grid-container > div:nth-child(10),.grid-container > div:nth-child(11),.grid-container > div:nth-child(1),.grid-container > div:nth-child(2){
        border-right: 0;
    }
    .index_about .about_textbox .text_title {
        font-size: 13vw;
    }
    .index_about .about_textbox .text_jobname{
        font-size: 1.8vw;
    }
    .about_box h4{
        line-height: 1.5;
    }
    .about_box {
        margin: 50px 0px;
    }
    .work_context .work_article {
        font-size: 4.5vw;
    }
}
@media (max-width:$mobile) {
    .exit{
        width: 30px;
    }
    .about_container, .work_container{
        width: 90%;
    }
    .work_box .work_topper_pic {
        height: 250px;
    }
    .work_context .work_text h1 {
        font-size: 5rem;
    }
    .work_box {
        padding: 30px 0;
    }
    .work_context .work_text button {
        font-size: 2em;
    }
}