// 字體
$title:1vw;
$bgTitle:2vw;
$smTitle:1.2vw;
$text:1vw;

// cursor
$regular:url("../img/cursor.png"), default;

// 顏色
$body_bg:#f2f2f2;
$loading_word:#5C5C5C;
$word:#28292b;
$word_hover:#540f6d;

// 斷點 breakpoint
$desktop: 1200px;
$medio: 800px;
$mobile : 500px;
$small: 450px;


